.screen-wrap {
  display: inline-block;
  width: 70%;
  height: 100px;
  margin: 0 5px;
  padding: 5px 20px;
  border: 1px solid #aaa;
  border-radius: 5px; }
  .screen-wrap p,
  .screen-wrap div {
    display: inline-block;
    margin: 10px 30px; }
  .screen-wrap p {
    line-height: 70px;
    margin: 10px; }
  .screen-wrap .id {
    font-size: 30px; }
  .screen-wrap .name {
    font-size: 30px; }
  .screen-wrap .price {
    font-size: 30px; }
