.goods-wrap {
  display: inline-block;
  width: 75%; }
  .goods-wrap .good-item {
    float: left;
    width: 140px;
    border: 1px solid #aaa;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer; }
    .goods-wrap .good-item p {
      line-height: 26px; }
    .goods-wrap .good-item:hover {
      border: 1px solid #fff000; }
